
html{
    scroll-behavior: smooth;
}
nav{
    background-color: rgb(49, 50, 56);
    padding: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a{
    text-decoration: none;
    margin-left: 20px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
nav h1{
    margin: 0;
}

body{
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
    background-color: #000000;
}

.hero{
    text-align: center;
    padding: 60px;
}

.hero h1{
    margin-bottom: 10px;
}
.hero p{
    margin-bottom: 25px;
}
.hero h1{
    margin-bottom: 10px;
}
.hero button{
    padding: 10px 20px;
    border: none;
    background-color: rgb(50, 214, 83);

    border-radius: 5px;
}
.features{
    text-align: center;
    padding: 40px;
}
.feature-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card{
    background-color: rgb(71, 73, 72);
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgb(41, 203, 101);
}

.card h3{
    margin-top: 0;
}

.about{
    text-align: center;
    padding: 60px;
}
.stats{
    text-align: center;
    padding: 60px;
}
footer{
    text-align: center;
    padding: 20px;
    background-color: rgb(65, 210, 87);
}
@media (max-width: 768px){
    .feature-container{
        flex-direction: column;
        align-items: center;
    }
}

