
body{
    margin: 0;
}
nav{
    background-color: lightblue;
    padding: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a{
    text-decoration: none;
    margin-right: 15px;
}
nav h2{
    margin: 0;
}
